/* 初期構築 */
@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    max-width: 900px;
    padding: 0% 4%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* ヘッダー部分 */

.page-header{
    display: flex;
    justify-content: space-between;

}
.logo{
    
}
.main-nav{
    display: flex;
    text-align: justify;
    list-style-type: none;
}
.main-nav li{
    margin-left: 36px;
}